body {


    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {  
    
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    forced-color-adjust: ;
}
.container2 {  max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    forced-color-adjust: ;
}

h1 {
    color: #000000;
}
h2{
    color: #000000;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
.progress {
    height: 20px;
    margin-bottom: 10px;
}

.progress-bar {
    background-color: #007bff;
}

