body {
    background-image: url("111.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url("123.gif");
    background-size: cover;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ffffff;
    text-align: center;
}

form {
    padding: 20px;
    border-radius: 8px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

textarea {
    width: calc(100% - 140px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    background-color: #3f3f3f;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: #f9f9f9;
    border-color: #000000;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(29, 136, 243);
    filter: brightness(1.1);
}

body {
    text-align: center;
}

input[type="submit"] {
    text-emphasis-color: red;
    background-color: #3f3f3f;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    border: #000000;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #3f3f3f;
    filter: brightness(1.1);
}

/* Style for the popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(6, 218, 238);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

/* Style for the table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
/* Style for the close icon */
/* Style for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#start_button {
    background: url('mic.png') no-repeat; 
    background-size: contain; 
    background-color: #3f3f3f;
    width: 20px; 
    height: 20px;
    border: none; 
    cursor: pointer;
  }

