<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>. Model Inference Demo .</title>
    <h1>EMOTION RECOGNITION MODEL</h1>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
<body>
<div class="container" style="margin-top: 20px;">
    <h2>Emotion Predictor</h2>
    <form action="/predict" method="post">
        <div class="input-container">
            <textarea id="text_input" name="text_input" rows="4" placeholder="Speak or type here..."></textarea>
            <div class="buttons">
                <button type="button" id="start_button"> </button>                
                <button type="button" id="stop_button" style="display: none;">🛑</button>
            </div>
        </div>
        <center><input type="submit" value="Predict"></center>
    </form>
    

<!-- Button to show dataset information -->
<button id="showTableBtn" onclick="togglePopup()">Show Dataset Information</button>

<!-- Popup table -->
<div class="popup" id="popupTable" style="margin-bottom: 20px;">
    <button class="close" onclick="closePopup()">&times;</button>
    <h2>Dataset Information</h2>
    <table>
        <tr>
            <th>Scenario</th>
            <th>EmoBERTa</th>
            <th>iemocap</th>
        </tr>
        <tr>
            <td>No past and future utterances meld</td>
            <td>63.46</td>
            <td>56.09</td>
        </tr>
        <tr>
            <td>Only past utterances meld</td>
            <td>64.55</td>
            <td>68.57</td>
        </tr>
        <tr>
            <td>Only future utterances meld</td>
            <td>64.23</td>
            <td>66.56</td>
        </tr>
        <tr>
            <td>Both past and future utterances meld</td>
            <td>65.61</td>
            <td>67.42</td>
        </tr>
        <tr>
            <td>Without speaker names meld</td>
            <td>65.07</td>
            <td>64.02</td>
        </tr>
    </table>
</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
